.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.64); /* Warna hitam dengan transparansi 50% */
  z-index: 1000; /* Atur z-index agar overlay berada di atas komponen lain */
}

.not-overlay {
  display: none;
}
